# Custom files for each instance
components/custom/CustomContacts.vue
components/custom/CustomIntro.vue
public/header.png
public/header.jpg
public/header.jpeg
public/header.svg
public/header.webp
# Favicon is included into image
# public/favicon.ico
# public/pwa-192x192.png
# public/pwa-512x512.png

node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
dist
.gitignore
README.md
.env
.env.local
.env*

# Service worker
sw.*

# macOS
.DS_Store

# Vim swap files
*~
*.swp
*.swo

# Other
.output
.nitro

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
